$mainColor: skyblue;
$fontColor: #333;
$fontFamily: "roboto", sans-serif;

body {
    background-color: $mainColor;
    font-family: $fontFamily;
    color: $fontColor;
  }
  
  img {
      max-width: 100%;
      height: auto;
  }