.row{
    @mixin Clearfix;

    &--gutters {
        margin-right: -3em;

    }
    &--gutters-large{
        margin-right: -5em;
    }

    &--gutters > div {
        padding-right: 3em;
    }

    &--gutters-large > div {
        padding-right: 5em;
    }

    &__b-margin-until-medium{
        margin-bottom: 1rem;
    }

    @mixin atMedium{

        &__medium-4{
            float:left;
            width:33.33%;
        }

        &__medium-6{
            float:left;
            width:50%;
        }

        &__medium-8{
            float:left;
            width:66.66%;
        }

        
        &__medium-4--larger{
            width: 37%;
        }

        &__medium-8--smaller{
            width: 63%;
        }
    }

    
}