.site-header{
    padding:0.6em 0;
    position:absolute;
    z-index:2;
    width:100%;

    @mixin atMedium{
       background-color: rgba($mainBlue, 0.3);
}

    &__btn-container{
        float:right;
    }

    &__logo{
        position:absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        transform-origin:50% 0;
        background-color: $mainBlue;
        padding: 1.5625em  2.25em; 

        @mixin atMedium{
            left: auto;
            transform: translateX(0) scale(1);
        }
    }

    &__logo__graphic{
        text-indent:-9999px;
    }

    &__menu-icon{
        position: absolute;
        width: 2.25em;
        height:2.25em; 
        background-color: #fff;
        top: 0.625em;
        right:  0.625em;
        @mixin atMedium{
           /* display: none;*/
        }
           
    }

    &__menu-content{
        display:none;

        @mixin atMedium{
            display:block;
        }
    }

   
}