.site-header{
    padding:0.6em 0;
    position:absolute;
    z-index:2;
    width:100%;
    transition: background-color 300ms ease-out;

    &--is-expanded{
        background-color: rgba($mainBlue, 0.5);
    }

    @mixin atMedium{
       background-color: rgba($mainBlue, 0.3);
    }

    &__btn-container{
        
        @mixin atMedium{
            float:right;
        }
    }

    &__logo{
        position:absolute;
        top:0;
        left: 50%;
        transform: translateX(-50%) scale(0.8);
        transform-origin:50% 0;
        background-color: $mainBlue;
        padding: 1.5625em  2.25em; 

        @mixin atMedium{
            left: auto;
            transform: translateX(0) scale(1);
        }
    }

    &__logo__graphic{
        text-indent:-9999px;
    }

    &__menu-icon{
        position: absolute;
        width: 1.25em;
        height:1.1875em; 
        top: 0.625em;
        right: 0.625em;
        z-index:2;

        &::before{
            content:"";
            position:absolute;
            top:0;
            left:0;
            width:1.5em;
            height:0.1em;
            background-color: #FFF;
            transform-origin: 0 0;
            transition: transform 300ms ease-out;
        }

        &__middle{
            position:absolute;
            top:0.5em;
            left:0;
            width:1.5em;
            height:0.1em;
            background-color: #FFF;
            transition: opacity 300ms ease-out;
        }

        &::after{
            content:"";
            position:absolute;
            bottom:0;
            left:0;
            width:1.5em;
            height:0.1em;
            background-color: #FFF;
            transform-origin: 0 100%;
            transition: transform 300ms ease-out;
        }
        @mixin atMedium{
           display: none;
        }
           
    }
    &__menu-icon--close-x{
        &::before{
            transform: rotate(45deg) scaleX(1.1);
        }
        .site-header__menu-icon__middle{
            opacity:0;
        }
        &::after{
            transform: rotate(-45deg) scaleX(1.1) translateY(1px);
        }
    }

    &__menu-content{
        position:relative;
        transform: scale(1.2);
        opacity:0;
        transition: all 300ms ease-out;
        padding-top: 6.625em;
        text-align: center;
        z-index: -10;

        @mixin atMedium{
            display:block;
            z-index:1;
            opacity:1;
            transform: scale(1);
            padding-top: 0em;

        }

        &--is-visible{
            opacity:1;
            z-index:1;
            transform: scale(1);
        }
    }

   
}